<app-default-login-layout
    primaryBtnText="Entre"
    secondaryBtnText="Crie uma conta agora"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!loginForm.valid"
>
    <form [formGroup]="loginForm">
        <app-primary-input
            formControlName="email"
            inputName="email"
            type="email"
            label="Email"
            placeholder="johndoe@gmail.com"
        >
            <img src="/assets/svg/email-icon.svg"/>
    </app-primary-input>
    <app-primary-input
        formControlName="senha"
        inputName="password"
        type="password"
        label="Senha"
    >
    <img src="/assets/svg/password-icon.svg"/>
</app-primary-input>
<span>Esqueceu a senha?</span>
</form>
</app-default-login-layout>
